<div class="data">
    <table class="table stattable borderless">
        <tr>
            <td>
                <h3>Всего случаев</h3>
            </td>
            <td>
                <h3><span>{{data.total}}</span></h3>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Человек выздоровело</h3>
            </td>
            <td>
                <h3><span>{{data.recover}}</span></h3>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Количество смертей</h3>
            </td>
            <td>
                <h3><span>{{data.death}}</span></h3>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Активных случаев</h3>
            </td>
            <td>
                <h3><span>{{data.active}}</span></h3>
            </td>
        </tr>
    </table>


</div>
</div>